@if (Act is not null)
{
    <div class="act-div">
        <h1>@Act.name</h1>
        <h2>@Act.order</h2>

        @if (Act?.bosses is not null)
        {
            @foreach (var boss in Act.bosses)
            {
                <BossComponent Boss="boss" />
            }
        }
    </div>
}
