@if (Act is not null)
{
    <div class="act-div">
        <div>
            <button class="btn btn-secondary"
                @onclick=SpeakActName>
                @Act.Name
            </button>
        </div>
        @if (!string.IsNullOrEmpty(Act.Image))
        {
            <img src="_content/SonicGuide.Rcl/img/@Act.Image" hidden="@hideImage" @onerror=OnImgError />
        }

        @if (Act?.Bosses is not null)
        {
            @foreach (var boss in Act.Bosses)
            {
                <BossComponent Game="Game"
                   Zone="Zone"
                   Act="Act"
                   Boss="boss" />
            }
        }
    </div>
}
