@if (Game is not null)
{
    <div class="game-div">
        <div>
            <button class="btn btn-secondary"
                @onclick=SpeakGameName>
                @Game.Name
            </button>
        </div>
        @if (!string.IsNullOrEmpty(Game.Image))
        {
            <img src="_content/SonicGuide.Rcl/img/@Game.Image" hidden="@hideImage" @onerror=OnImgError />
        }

        @if (Game.Zones is not null)
        {
            @foreach (var zone in Game.Zones.OrderBy(zone => zone.Order))
            {
                <ZoneComponent Game="Game"
                   Zone="zone" />
            }
        }
    </div>
}
