@if (Zone is not null)
{
    <div class="zone-div">
        <h1>
            <button class="btn btn-secondary"
                @onclick=SpeakZoneName>
                @Zone.Name
            </button>
        </h1>
        <h2>@Zone.Order</h2>
        @if (!string.IsNullOrEmpty(Zone.Image))
        {
            <img src="_content/SonicGuide.Rcl/img/@Zone.Image" hidden="@hideImage" @onerror=OnImgError />
        }

        @if (Zone.Acts is not null)
        {
            @foreach (var act in Zone.Acts)
            {
                <ActComponent Game="Game"
                  Zone="Zone"
                  Act="act" />
            }
        }

        @if (Zone.Bosses is not null)
        {
            @foreach (var boss in Zone.Bosses)
            {
                <BossComponent Game="Game"
                   Zone="Zone"
                   Act="null"
                   Boss="boss" />
            }
        }
    </div>
}
