@if (Zone is not null)
{
    <div class="zone-div">
        <h1>@Zone.name</h1>
        <h2>@Zone.order</h2>

        @if (Zone.acts is not null)
        {
            @foreach (var act in Zone.acts)
            {
                <ActComponent Act="act" />
            }
        }
    </div>
}
