@if (Zone is not null)
{
    <div class="zone-div">
        <div>
            <button class="btn btn-secondary"
                @onclick=SpeakZoneName>
                @Zone.Name
            </button>
        </div>
        @if (!string.IsNullOrEmpty(Zone.Image))
        {
            <img src="_content/SonicGuide.Rcl/img/@Zone.Image" hidden="@hideImage" class="zone-img" @onerror=OnImgError />
        }

        @if (Zone.Acts is not null)
        {
            @foreach (var act in Zone.Acts.OrderBy(act => act.Order))
            {
                <ActComponent Game="Game"
                  Zone="Zone"
                  Act="act" />
            }
        }

        @if (Zone.Bosses is not null)
        {
            @foreach (var boss in Zone.Bosses.OrderBy(boss => boss.Order))
            {
                <BossComponent Game="Game"
                   Zone="Zone"
                   Act="null"
                   Boss="boss" />
            }
        }
    </div>
}
